.about-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-img-wrap {
    overflow: hidden;
    width: 80%;
    margin-bottom: 30px;

    .about-img {
      width: 100%;
    }
  }

  .about-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 16px;
      font-family: "Nanum Myeongjo", serif;
      margin-bottom: 8px;
    }

    h2 {
      color: $gray;
      font-family: "Nanum Myeongjo", serif;
      font-size: 12px;
      margin-bottom: 24px;
    }

    ul {
      color: $gray;
      font-size: 10px;

      li:first-child {
        margin-bottom: 8px;
      }
    }
  }

  @include responsive(T) {
    flex-direction: row;
    justify-content: space-around;

    .about-img-wrap {
      margin-bottom: 0;
    }

    .about-text {
      h1 {
        font-size: 32px;
      }
      h2 {
        font-size: 18px;
      }
      ul {
        font-size: 16px;
      }
    }
  }
}
