.contact {
  height: calc(100vh - 60px - 91.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Myeongjo", serif;

  &-title {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 700;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    div {
      margin-right: 12px;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &:active {
        color: $gray;
      }
    }

    i {
      font-size: 24px;
    }
  }

  &-download {
    font-size: 14px;
    transition: transform 200ms ease-in-out;

    .line {
      max-width: 0px;
      border-bottom: 1px solid $black;
      transition: max-width 1000ms ease-in-out;
    }

    &:hover,
    &:active {
      transform: rotate(2deg);

      .line {
        max-width: 1000px;
      }
    }
  }

  @include responsive(T) {
    height: calc(100vh - 80px - 93.8px);

    &-title {
      font-size: 48px;
      margin-bottom: 60px;
      font-weight: 700;
    }

    &-button {
      margin-bottom: 60px;

      div {
        margin-right: 24px;
      }

      i {
        font-size: 36px;
      }
    }

    &-download {
      font-size: 24px;
    }
  }
}
