.gnb {
  align-items: center;
  display: flex;
  font-family: "Nanum Myeongjo", serif;
  height: 80px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;

  h1 {
    font-size: 24px;

    &:hover {
      color: $gray;
    }
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    padding: 20px 5px;

    &:active {
      color: $gray;
    }

    i {
      font-size: 24px;
    }
  }

  .nav-button {
    display: flex;

    a {
      padding: 20px 20px;

      &:hover {
        color: $gray;
      }
    }
  }
}
