.index-1 {
  align-items: center;
  background-color: $main;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Myeongjo", serif;
  height: 300px;
  justify-content: center;

  h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
