.portfolio-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 0;

  button {
    height: 28px;
    background-color: transparent;
    border: none;
    margin-right: 24px;
    transition: 300ms ease-in-out color;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $light;

      &.active {
        color: $black;
      }
    }

    &.active {
      font-weight: 700;
      border-bottom: solid $black 2px;
      margin-bottom: -2px;
    }
  }

  @include responsive(T) {
    margin: 28px 0;

    button {
      margin-right: 40px;
    }
  }
}

.portfolio {
  display: flex;
  max-width: 1200px;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  margin: 0 auto;
  padding: 0 20px;
  flex-direction: row;
  flex-wrap: wrap;

  &-card {
    border: transparent 5px solid;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;

    &-wrap {
      width: 100%;
      overflow: hidden;
      margin-bottom: 24px;
    }
    &-img {
      width: 100%;
      object-fit: contain;
    }

    &-text {
      text-align: center;

      aside {
        margin-bottom: 8px;
        color: $light;
        font-size: 12px;
      }
      h1 {
        font-size: 16px;
      }
    }
  }

  &.selected {
    max-height: 100000px;
    opacity: 1;
    transition: max-height 10s ease-in-out, opacity 1000ms ease-in-out;
  }

  @include responsive(T) {
    &-card {
      width: 33%;
      margin-bottom: 30px;
    }
  }
}
